## 실습에 사용할 예제 파일

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

In [1]:
import pandas as pd

## 1. 파일 읽어오기 (csv)

In [ ]:
# 작업순서

# 1. read_csv (파일명 or 경로명)
# 2. head()
# 3. tail()

# 데이터 전체 프리뷰, 맨앞-맨뒤 찍어서 전체 데이터 수량 확인

In [2]:
# csv파일이 구글드라이브에 저장된 주소의 '약식 주소'
# read_csv함수는 dataFrame에 csv파일을 불러오기함
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [18]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# head() : 맨 앞의 5행의 데이터를 출력한다.
# dafualt : 5라서 맨 앞의 5행 데이터를 출력한다.
# 옵션값을 변경하면 괄호 안에 인수 지정
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [4]:
# tail() : 맨 끝에서5개의 데이터를 출력한다.
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

## 2. 기본 정보 알아보기 (index, column, info)

### 2-1. column(열) 출력하기

In [21]:
# pandas에서 dtype이 object인 경우 -> 문자열
df.columns

Index(['이름', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '브랜드평판지수'], dtype='object')

2-2. column(열) 이름 재정의하기

In [6]:
# 일반적인 방법
# 덮어쓰기 형식으로 해야 함.
# 전체불러온 다음. 바꾸고 싶은 column명 변경

new_col = ['name', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '브랜드평판지수']

In [7]:
df.columns = new_col

In [8]:
df.columns

Index(['name', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '브랜드평판지수'], dtype='object')

In [9]:
df

    name     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [10]:
# rename 함수로 column명 변경
# 원본에 적용하지 않음. 결과 확인용

df.rename(columns={'name':'이름'})

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [12]:
# 실제 DataFrame에 적용하려면?
# inplace 옵션을 True로 해서 실제 DataFrame에 적용한다

df.rename(columns={'name':'이름'}, inplace=True)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

### 2-2. index(행) 출력하기

In [13]:
df.index

RangeIndex(start=0, stop=15, step=1)

### 2-3. info 는 기본적인 row(행)의 정보와 데이터 타입을 알려줍니다.

**tip.** info 메소드는 주로 빠진 값 (null 값)과 데이터 타입을 볼 때 활용합니다.

In [14]:
# 데이터 정보 확인

# column의 갯수, 컬럼별 Not Null count의 갯수, 컬럼별 데이터 타입
# 결측치(null-data) 유무 확인
# 각 컬럼별 DataType 확인 -> 원하는 데이터 타입으로 변경해야 함

df.info()


# float64는 메모리를 많이 차지하기 때문에, 데이터작업이 느릴수 있다.
# 확인해보고 꼭 그정도 크기가 필요하지 않다면 float31로 변경해서 작업

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

## 3. 통계 정보 알아보기 (describe)

In [28]:
# 수치 데이터의 데이터 정보 요약

# df에서 describe함수를 호출하면 숫자(int64, float64)로 
# 되어 있는 컬럼만 통계 데이터를 확인할 수 있다.
df.describe()

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

## 4. 형태(shape) 알아보기

* shape는 tuple 형태로 반환되며, 첫번째는 row, 두번째는 column의 숫자를 의미합니다

In [15]:
# 데이터 프레임이 (행,열)-> (15행, 8열)
# index, column은 shape에 포함 X

df.shape

(15, 8)

In [16]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

## 7. 정렬하기

### 7-1. 오름차순 정렬 (default)

In [19]:
# sort_index()함수는 index를 기준으로 정렬해주는 함수
# dafault : 오름차순

df.sort_index()

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

### 7-2. 내림차순 index 정렬

In [20]:
# ascending=True : 오름차순
# ascending=False : 내림차순

df.sort_index(ascending=False)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

## 8. column 별로 정렬

### 8-1. 오름차순 정렬

In [22]:
# dafualt : NaN값은 제일 마지막에 몰아둠
# NaN값은 지워버리거나, 채운다

df.sort_values(by='키')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

### 8-2. 내림차순 정렬

In [24]:
# ascending=False == descending

df.sort_values(by='키', ascending=False)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

### [BONUS] 복수 정렬

In [35]:
# 키로 정렬했는데 똑같다?? 그러면 2번 기준, 3번기준으로 정렬함
# 정렬 기준 1번 :'키', 키가 동일한 경우 정렬기준 2번

df.sort_values(by=['키', '브랜드평판지수'])

# 리스트로 표현

    name     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615

In [36]:
df.sort_values(by=['키', '브랜드평판지수'], ascending=False)

    name     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661