## **이 파일에 포함된 내용** <br><br>
### **결측치를 채우자** : fillna()
### **데이터프레임 (깊은)복사** : copy()
### **결측치를 채우는데 도움이 되는 함수** : 최빈값 mode(), 중앙값 median(), 평균값 mean()
### **결측치가 있는 행 삭제** : dropna(axis=0)
### **데이터프레임의 index다시 생성** : reset_index(drop=True)
### **특정 컬럼 삭제** : drop(['삭제할 컬럼명'],axis=1)
### **특정 행 삭제** : drop(삭제할 행 index, axis=0)

In [3]:
import pandas as pd

## 실습에 활용한 예제

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## DataFrame 로드

In [4]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [5]:
df.head(15)
print(df.tail())

df.loc[:16]

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

## 1. 결측값을 채워주는 fillna

**fillna()**: na 값에 대하여 fill해주는 함수입니다.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

키에 2개의 데이터가 누락, 그룹에 1개의 데이터가 누락된 것을 확인할 수 있습니다.

먼저, 키가 없는 사람은 존재할 수 없기 떄문에, 데이터가 잘 못 되어 있다는 것을 표기 하기 위하여, **누락된 데이터를 -1로 채워** 보도록 하겠습니다.

In [7]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [9]:
# fillna
# NaN값을 찾아서 NaN인 경우 그 데이터를 특정값(평균값)으로 채워주는 함수

mean = df['키'].mean()
df['키'].fillna(mean)

0     173.600000
1     177.000000
2     180.000000
3     178.000000
4     162.100000
5     178.000000
6     182.300000
7     175.792308
8     179.200000
9     167.100000
10    175.792308
11    183.000000
12    175.000000
13    176.000000
14    174.000000
Name: 키, dtype: float64

NaN 값이 -1로 바뀐 것을 확인할 수 있습니다.

하지만, 키의 NaN 값을 채워준다음 유지시키려면 **inplace=True** 옵션을 주거나, fillna로 **채워 준 값을 다시 대입**해 주어야 합니다.

### 데이터 프레임 (깊은)복사

In [11]:
df2 = df.copy()

In [12]:
df2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [13]:
# df2의 결측치를 -1로 변경하고 df2에 저장
# inplace=True -> df2에 결과값을 저장

# 아래 코드는 df2['키'] = df2['키'].fillna(-1)와 같다.
df2['키'].fillna(-1, inplace=True)

C:\Users\SBA\AppData\Local\Temp\ipykernel_12248\4119860927.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['키'].fillna(-1, inplace=True)

In [14]:
df2['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

이젠 유지가 됩니다. 하지만, 저는 **fillna로 채워준 값을 다시 대입 해 주는 방식을 추천**드립니다.

In [15]:
df2 = df.copy()

In [16]:
df2['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [17]:
df2['키'] = df2['키'].fillna(-1)

In [18]:
df2['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [19]:
df2 = df.copy()

In [20]:
df2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [21]:
df2['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [22]:
# 결측치를 채우기 위해 평균 값 구하기
#height = df2['키'].mean()  

# 결측치를 채우기 위해 중앙 값 구하기
height = df2['키'].median()

# 결측치를 채우기 위해 최빈 값 구하기
#height = df2['키'].mode()

#### **언제 최빈값을 사용하나요?**

지하철 출발장소에 NaN
가장 많이 출발한 장소(서울역)을 추가해주면 조금 더 Real한 값이 나올 수 있음

In [23]:
# '키'의 결측치를 최빈값(mode)으로 채운다.
# 또는 평균값(mean), 중앙값(median)

df2['키'].fillna(height, inplace=True)

In [24]:
df2['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7     177.0
8     179.2
9     167.1
10    177.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [25]:
df2['추가'] = [10,11,12,10,13,10,11,14,15,16,17,18,19,20,21]

In [26]:
df2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  추가
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  10
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  11
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  12
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  10
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  13
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  10
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  11
7     소연    아이들       큐브  여자  1998-08-26  177.0   B   4668615  14
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  15
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  16
10    태연   소녀시대       SM  여자  1989-03-09  177.0   A   3918661  17
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  18
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  19
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  20
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  21

In [27]:
temp = df2['추가'].mode()
temp

0    10
Name: 추가, dtype: int64

## 2. 빈 값(NaN)이 있는 행을 제거

결측치를 채웠는데, 그 값들이전체 결과값에 영향을 줌

이런 경우, NaN 전부 제거할 필요 있음

1번 STEP에서 fillna 메소드를 활용하여 값을 채워 주었습니다. 이번에는 빈값이 있는 행을 제거하는 방법을 알아보도록 하겠습니다.

In [28]:
pd.__version__

'2.2.2'

In [29]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [31]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [32]:
# 결측치가 있는 행을 삭제
df.dropna()

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

dropna()는 몇가지 옵션을 추가할 수 있습니다.

### 2-1. axis (열/ 행을 드랍)

axis=0은 행을 드랍합니다.

In [33]:
df.dropna(axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

axis=1은 열을 드랍합니다.

In [34]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [35]:
# 결측치가 있는 그룹, 키 컬럼이 삭제된 것을 확인할 수 있다.
df.dropna(axis=1)

      이름      소속사  성별        생년월일 혈액형   브랜드평판지수
0     지민      빅히트  남자  1995-10-13   A  10523260
1   지드래곤       YG  남자  1988-08-18   A   9916947
2   강다니엘      커넥트  남자  1996-12-10   A   8273745
3      뷔      빅히트  남자  1995-12-30  AB   8073501
4     화사      RBW  여자  1995-07-23   A   7650928
5     정국      빅히트  남자  1997-09-01   A   5208335
6     민현     플레디스  남자  1995-08-09   O   4989792
7     소연       큐브  여자  1998-08-26   B   4668615
8      진      빅히트  남자  1992-12-04   O   4570308
9    하성운  스타크루이엔티  남자  1994-03-22   A   4036489
10    태연       SM  여자  1989-03-09   A   3918661
11   차은우     판타지오  남자  1997-03-30   B   3506027
12    백호     플레디스  남자  1995-07-21  AB   3301654
13    JR     플레디스  남자  1995-06-08   O   3274137
14    슈가      빅히트  남자  1993-03-09   O   2925442

In [36]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [37]:
# 결측치가 있는 행 삭제
df = df.dropna(axis=0)

In [38]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [39]:
# dropna()와 같은 함수 실행시 인덱스가 변경될때, 다시 인덱스값을 부여할 때 
df.reset_index(drop=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
4     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
5     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
6      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
7    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
8    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
9     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
10    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
11    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

### 2-2. how옵션 - 'any': 한개라도 있는 경우 드랍, 'all'은 모두 NaN인 경우 드랍

In [40]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [41]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [42]:
# default : how='any'
df.dropna()

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [43]:
# how='any' 행에서 하나의 컬럼 정보라도 NaN이면 그 행의 데이터 삭제
df.dropna(axis=0, how='any')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [44]:
# how='all'는 행에 모든 정보가 NaN인 경우에는 데이터 삭제
df.dropna(axis=0, how='all')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [45]:
import numpy as np

In [1]:
# 10번째행에 전체가 NaN인 행이 추가
df.iloc[10] = np.nan

NameError: name 'np' is not defined

In [ ]:
df

      이름     그룹      소속사   성별        생년월일      키  혈액형     브랜드평판지수
0     지민  방탄소년단      빅히트   남자  1995-10-13  173.6    A  10523260.0
1   지드래곤     빅뱅       YG   남자  1988-08-18  177.0    A   9916947.0
2   강다니엘    NaN      커넥트   남자  1996-12-10  180.0    A   8273745.0
3      뷔  방탄소년단      빅히트   남자  1995-12-30  178.0   AB   8073501.0
4     화사    마마무      RBW   여자  1995-07-23  162.1    A   7650928.0
5     정국  방탄소년단      빅히트   남자  1997-09-01  178.0    A   5208335.0
6     민현   뉴이스트     플레디스   남자  1995-08-09  182.3    O   4989792.0
7     소연    아이들       큐브   여자  1998-08-26    NaN    B   4668615.0
8      진  방탄소년단      빅히트   남자  1992-12-04  179.2    O   4570308.0
9    하성운     핫샷  스타크루이엔티   남자  1994-03-22  167.1    A   4036489.0
10   NaN    NaN      NaN  NaN         NaN    NaN  NaN         NaN
11   차은우   아스트로     판타지오   남자  1997-03-30  183.0    B   3506027.0
12    백호   뉴이스트     플레디스   남자  1995-07-21  175.0   AB   3301654.0
13    JR   뉴이스트     플레디스   남자  1995-06-08  176.0    O   3274137.0
14    슈가  방탄소년단      빅히트   남자  1993-03-09  174.0    O   2925442.0

In [ ]:
df.dropna(axis=0, how='all')

      이름     그룹      소속사  성별        생년월일      키 혈액형     브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947.0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501.0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335.0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615.0
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442.0

## 3. 중복된 값 제거 (drop_duplicates)

In [47]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [48]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

### 3-1. column의 중복값 제거

In [49]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [50]:
df['키']=df['키'].fillna(178.0)

In [51]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7     178.0
8     179.2
9     167.1
10    178.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [52]:
# 첫번째 데이터만 남기고 나머지는 다 삭제
df['키'].drop_duplicates()

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
6     182.3
8     179.2
9     167.1
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

keep 옵션으로 유지하고 싶은 데이터를 선택할 수 있습니다. keep: 'first' / 'last'

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [ ]:
df['키']

In [ ]:
df['키'].drop_duplicates(keep='last')

In [ ]:
df['키'] = df['키'].drop_duplicates(keep='last')

In [ ]:
df

### 3-2. 행 전체 제거

In [ ]:
df.drop_duplicates('그룹')

In [ ]:
df.drop_duplicates('그룹', keep='last')

## 4. Drop - column/row 제거하기

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

### 4-1. column 제거하기

drop()을 활용하여 column을 제거할 수 있습니다. column을 제거할 때는 axis=1 옵션을 줍니다.

In [ ]:
df.drop('그룹', axis=1)

      이름      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사      RBW  여자  1995-07-23  162.1   A   7650928
5     정국      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연       큐브  여자  1998-08-26    NaN   B   4668615
8      진      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연       SM  여자  1989-03-09    NaN   A   3918661
11   차은우     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가      빅히트  남자  1993-03-09  174.0   O   2925442

복수의 column를 제거하고자 할 때는 list로 지정합니다.

In [ ]:
df.drop(['그룹', '소속사'], axis=1)

      이름  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  남자  1995-10-13  173.6   A  10523260
1   지드래곤  남자  1988-08-18  177.0   A   9916947
2   강다니엘  남자  1996-12-10  180.0   A   8273745
3      뷔  남자  1995-12-30  178.0  AB   8073501
4     화사  여자  1995-07-23  162.1   A   7650928
5     정국  남자  1997-09-01  178.0   A   5208335
6     민현  남자  1995-08-09  182.3   O   4989792
7     소연  여자  1998-08-26    NaN   B   4668615
8      진  남자  1992-12-04  179.2   O   4570308
9    하성운  남자  1994-03-22  167.1   A   4036489
10    태연  여자  1989-03-09    NaN   A   3918661
11   차은우  남자  1997-03-30  183.0   B   3506027
12    백호  남자  1995-07-21  175.0  AB   3301654
13    JR  남자  1995-06-08  176.0   O   3274137
14    슈가  남자  1993-03-09  174.0   O   2925442

### 4-2. row 제거하기

drop()을 활용하여 row를 제거할 수 있습니다. row를 제거할 때는 제거하고자하는 index와 axis=0 옵션을 줍니다.

In [ ]:
df.drop(3, axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

복수의 row를 제거하고자 할 때는 list로 지정합니다.

In [53]:
df.drop([3, 5], axis=0)

# axis=1 이면 컬럼 삭제

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26  178.0   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09  178.0   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [54]:
# fillna : 결측치 찾아서 추가 
# dropna : 결측치 찾아서 삭제
# drop   : 내가 원하는 데이터 삭제(행/열 모두)